.error {
  color: red;
  margin-top: 1rem;
  margin-left: 1em;
}
.grid {
  display: grid;
  grid-template-areas: 
  "top"
  "middle"
  "bottom";
  padding-top: 13rem;
}
.grid-box{
margin-top: 1rem;
}

.border-box {
  background-color:#221203;
  margin-left: 38rem;
  margin-right: auto;
  box-shadow: 3px 3px 6px #6187C2;
  border-radius: 15px;
  padding: 2rem  4rem  2rem 4rem
}
.border-box input {
  border-radius: 10px;
  color: white;
  background-color: #332313;
}
.grid-box label {
  margin-right: 2rem;
  font-size: x-large;
}
.border-box h2 {
  text-align: center;
}
.border-box button {
  margin-left: 3.2rem;
  width: 186px;
  margin-top: 0.5rem;
}