.error {
  color: red;
  margin-top: 1rem;
  margin-left: 1em;
}
.login-container {
  display: flex;
}
.grid-box{
margin-top: 1rem;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.grid-box input {
  border-radius: 5px;
  color: white;
  background-color: #332313;
  padding: 0.1rem 0.5rem;
  border: solid 1px;
}
.grid-box label {
  font-size: x-large;
}
.login-container .grid-box label {

  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.border-box h2 {
  text-align: center;
}
.border-box button {
  margin-left: 2.5rem;
  width: 17.7rem;
  margin-top: 0.5rem;
}

.border-box {
  background-color:#221203;
  border-radius: 5px;
  padding: 2rem  4rem  2rem 4rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 7px -1px,
  rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  align-items:center;
}

div.around-login {
  display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
}