.register-container .border-box {
    margin-right: 14rem;
    margin-left: 27rem;
    padding: 1rem;
    display: flex;
    align-items:flex-end;
}
.register-container {
    padding-top: 5rem;

}
.register-container .grid-box label {
    margin-right:2rem;
    display: flex;
}
.register-container .grid-box button {
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.register-container .border-box h2{
    margin-right: auto;
    margin-left: auto
}
.register-container .grid-box select {
    padding: 0.1rem 0.5rem;
    width:18rem;
    border-radius: 5px
}
.note {
    font-size: 10px;
    width: 100%;
    text-align: center;
}