.register-container .border-box {
  align-items: flex-end;
  padding: 1rem 4rem;
}
.register-container .grid-box label {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.register-container .grid-box button {
  margin-bottom: 1rem;
}
.register-container .border-box h2 {
  text-align: center;
  width: 100%;
}
.register-container .grid-box select {
  border: solid 1px;
  padding: 0.1rem 0.5rem;
  width: 17.7rem;
  border-radius: 5px;
}
.note {
  font-size: 10px;
  width: 100%;
  text-align: center;
}

div.around-register {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
}