.search-bar input {
    margin-right: 1rem;
    border-radius: 5px;
    margin-left: 1rem;
    color: white;
    background-color: #332313;
}
.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.search-bar button {
    height: 70%;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 6px #332313

}