.search-bar input {
    margin-right: 1rem;
    height: 70%;
    border-radius: 5px;
    margin-left: 1rem;
    color: white;
    background-color: #332313;
}
.search-bar {
    display:flex;
    align-items:center
}
.search-bar button {
    height: 70%;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 6px #332313

}