.accordion button.accordion-button{
    font-size: inherit;
    background-color: #332313;
    color:inherit
}

.accordion .accordion-body {
  background-color: #221203;
  display:flex;
  align-items: center;
  justify-content:center
}

.accordion div.grid-box input {
    margin-right: 1rem;
    border-radius: 5px;
    margin-left: 1rem;
    color: white;
    background-color: #332313;
}