
.form-container {
  display: grid;
  grid-template-areas: "left right";
  margin: 0rem;
}
.form-container div {
  margin-left: 0rem;
}
.chart-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 2rem
}
div.box div {
  margin-bottom: 1rem
}