.welcome {
  display: flex;
  margin-left: 14.5rem;
  flex-direction: row;
  justify-content: space-between;
}
.welcome input {
  border-radius: 10px;
  margin-left: 1rem;
  color: white;
  background-color: #332313;
}
.form-container {
  display: grid;
  grid-template-areas: "left right";
  margin: 0rem;
}
.form-container div {
  margin-left: 0rem;
}
.chart-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 2rem
}
.box h2 {
  color: white
}