.welcome {
    display: flex;
    margin-left: 14.5rem;
    flex-direction: row;
    justify-content: space-between;
}
.welcome input {
    border-radius: 10px;
    margin-left: 1rem;
    color: white;
    background-color: #332313;
}