

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: white;
  
}

html {
  font-family:'Segoe UI';
  background-image: linear-gradient(#2E182A,#375680)
  
}


.button {
  background-color: #6187C2;
  border: 2px solid #6187C2;
  color: white;
  border-radius: 15px;
  width: 120px;
  padding: 0.5rem 0.5rem;
  box-shadow: 3px 3px 6px #541D62
}

.button:hover {
  cursor: pointer;
  color: #6187C2;
  background-color: white;
}

.box {
  margin-left:15rem;
  max-width: 85%;
  overflow: auto;
}

.page {
  background-image: linear-gradient(#400723, #541D62,#41223B,#2E182A);
  height: 100%;
  padding-right: 4rem;
}