  @import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;700&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: #7eaaec;
  
}
.button {
  background-color: #6187C2;
  border: 2px solid #6187C2;
  color: white;
  border-radius: 5px;
  width: 120px;
  padding: 0.5rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 7px -1px,
  rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.button:hover {
  cursor: pointer;
  color: #6187C2;
  background-color: white;
}

.box {
  margin-left:10rem;
  overflow: hidden
}

html body {
  font-family: 'Wix Madefor Display', sans-serif;
  background-image: linear-gradient(#2c4568, #541D62,#41223B, #400723);
  background-repeat:no-repeat;
}
html {
  height:100%
}
.page {
  width: 100%;
  height: 100%;
  padding-right: 2rem;
  padding-bottom: 12.2rem;
  color: white
}
h2 {
  text-align: center;
}

div#project-charts.border-box {
  margin-left:0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

input:focus {
  outline: none
}

div.right-content {
  width: 92.4%;
  height: 100%;
  position: absolute;
  left: 97px;
}

.border-box {
  background-color:#221203;
  border-radius: 5px;
  width:fit-content;
  padding: 2rem  4rem  2rem 4rem;
  display: flex;
  transform: translateX(50%) translateY(50%);
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 7px -1px,
  rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  align-items:center;
}